version: "3"
services:
  windows:
    image: dockurr/windows
    container_name: windows
    environment:
      VERSION: "11"  # Adjust as needed
    devices:
      - /dev/kvm
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    networks:
      vlan:
        ipv4_address: 10.10.10.35  # Set to your desired static IP

networks:
  vlan:
    external: true
    driver: bridge  # Set the network driver to bridge
    name: mydockernetwork-emu
